[2016-11-03 12:54] Adam1609 opened #1 "jar file release please"
Could you compile and release please :)

[2016-11-07 11:42] larryTheCoder commented on #1
I not really yet to compile a Buggy Plugin right now please wait : )

[2016-11-09 01:59] larryTheCoder commented on #1
Here you go [ASkyBlock](https://drive.google.com/open?id=0Bw94aKEUd_98WHM0dWNzaVpDaFk) compiled latest source code has been made.

Usage: /is - Create an island
Usage: /is generate

More comming soon

[2016-12-06 15:45] NycuRO opened #3 "Achievements ?"
Achievments and island level please and all commands.. @larryTheCoder

[2016-12-17 21:59] NycuRO commented on #3
@larryTheCoder You can add?

[2016-12-18 02:27] larryTheCoder commented on #3
it is not Achievements it called challenges in Sky-Block.
and of course i will add it

[2016-12-21 12:41] NycuRO commented on #3
@larryTheCoder Update ?

[2017-01-06 01:12] iDirtniverse commented on #1
Hi could you please compile the latest update version? when I run MVN Package theres an error on two files, which I renamed the file to correct class but after I compiled it theres error with SQL databases, is there anyway to disable the features or is it permanent. If you can compile with complete and no errors made when plugin is loaded please release it! thank you so much for doing an amazing j

[2017-01-06 01:14] iDirtniverse opened #5 "CIRCLE CI Link broken"
Hi apparently the CIRCLE CI download link is broken, if you can please fix it ?

https://gyazo.com/8e48c9d714d8ccd7118af7f59a4d99af

[2017-01-06 01:15] iDirtniverse commented on #5
https://gyazo.com/9ab57c43625b738258a31db305ae15e4

[2017-01-06 12:57] larryTheCoder commented on #5
the problem was fixed

[2017-01-06 12:57] #5 closed

[2017-01-06 13:10] iDirtniverse opened #6 "Database Error"
http://pastebin.com/jAEZhxgK

[2017-01-06 13:13] larryTheCoder commented on #6
Do you have DbLib plugin installed?

[2017-01-06 13:35] iDirtniverse commented on #6
Oh it's required? My bad, sorry I will install it now and we'll see :)

[2017-01-06 13:42] iDirtniverse commented on #6
Alright problem solved but I have one request, is it generator fault for generating 1 layer on water?

[2017-01-07 02:59] larryTheCoder commented on #6
no its not the generator problem, you can configure the config `seaLevel` for that.

[2017-01-08 08:51] Datblockcom commented on #6
I'm getting a problem with the generator. No island and also generates normal world with the SeaLevel at bottom.

On /is
`03:46:14 [INFO] [SkyBlock]BIOME: PLAINS
03:46:14 [INFO] [SkyBlock]Location: x: 100 y: 60 z: 100 levelname: SkyBlock
03:46:14 [INFO] [SkyBlock]IslandName: JackSlacks
03:46:14 [INFO] [SkyBlock]SPOT: 178

        at larryTheCoder.SafeSpotTeleport$1.onRun(SafeSpotTeleport.java:145)

[2017-01-09 03:41] larryTheCoder commented on #6
that is the problem. i get i tried to fix with `plugin.getSchematic("default").pasteWESchematic(locIsland, p, true)` but no blocks were generated. maybe WorldEdit error?

[2017-01-09 16:07] Datblockcom commented on #6
Is there a way to fix it?

[2017-01-10 21:07] iDirtniverse opened #7 "#Build19 ERROR"
[code]

got this error when created an island AND did not successfully create the island, no blocks were pasted

[2017-01-13 02:46] #1 closed

[2017-01-13 02:52] #7 closed

[2017-01-13 02:52] #6 closed

[2017-01-29 21:27] NycuRO commented on #3
@larryTheCoder update?

[2017-02-01 00:14] larryTheCoder commented on #3
@NycuRO Please wait to see this update, I know you really want it

[2017-02-01 16:46] NycuRO commented on #3
:)

[2017-02-07 20:01] NycuRO opened #8 "New plugin, Factions?"
If you have time, you can develop and one Factions Plugin?

Factions plugin for Nukkit exist, but have one error when released 1.0 in nukkit.

You can develop and this plugin: https://github.com/imjack/Factions-For-Nukkit ?

@larryTheCoder

[2017-02-07 21:23] CoolGuyMC opened #9 "Error"
I love this plugin man, you're the best :D

In the latest version I get this error:

[ALERT] java.lang.RuntimeException: java.lang.IllegalAccessError: class
 org.sqlite.SQLiteConfig$TransactionMode cannot access its superinterface org.sq
lite.SQLiteConfig$PragmaValue

Ty in advance :D

[2017-02-08 19:50] NycuRO commented on #9
@larryTheCoder

[2017-02-09 10:11] larryTheCoder commented on #9
I didnt get this error try DbLib v0.2.1

And what type of database did you use @CoolGuyMC

[2017-02-09 16:10] CoolGuyMC commented on #9
@larryTheCoder I'm using DbLib v0.2.1, and the database is the default, I haven't messed with that...

[2017-02-10 17:57] NycuRO opened #10 "Issue"
17:42:56 [WARNING] NycuRO moved too fast, reverting movement
17:43:08 [INFO] [SkyBlock] An error occured while fecthing SQLite: #id 0
17:43:08 [INFO] [SkyBlock] An error occured while fecthing SQLite: #location #X100#Z100
17:43:08 [INFO] [SkyBlock] An error occured while saving SQLite: #id 1#Text 1 Cause of: 1AND null

Not work if i'm used : "/is" . Help @larryTheCoder ?

[2017-02-10 17:58] NycuRO commented on #10
And if i'm using :"/is create" :

17:44:15 [CRITICAL] Unhandled exception executing command 'is create' in is: java.lang.ArrayIndexOutOfBoundsException: 1
        at com.larryTheCoder.command.island.CreateISubCommand.execute(CreateISubCommand.java:70)
        at com.larryTheCoder.Commands.execute(Commands.java:111)
        at cn.nukkit.command.SimpleCommandMap.dispatch(SimpleCommandMap.java:244)

[2017-02-11 14:20] larryTheCoder commented on #10
Added to todo list

You can use `/is` instead of `/is create`

[2017-02-11 17:28] NycuRO commented on #10
@larryTheCoder Not todo man.

If i'm used /is , get this error!

[2017-02-12 21:32] NycuRO commented on #10
@larryTheCoder larry?

Isn't NOT todo. Is one bug /error. You can fix?

[2017-02-27 18:22] NycuRO commented on #10
@larryTheCoder Update please, fix problem?

[2017-03-04 10:59] NycuRO opened #11 "Other issue"
12:46:45 [CRITICAL] Unhandled exception executing command 'c' in challenges: java.lang.ArrayIndexOutOfBoundsException: 0
        at com.larryTheCoder.command.ChallangesCMD.execute(ChallangesCMD.java:71)
        at cn.nukkit.command.SimpleCommandMap.dispatch(SimpleCommandMap.java:225)
        at cn.nukkit.Server.dispatchCommand(Server.java:646)
        at cn.nukkit.Player.handleDataPacket(Player.ja

[2017-03-04 10:59] NycuRO commented on #10
Fixed

[2017-03-04 10:59] #10 closed

[2017-03-04 11:06] NycuRO opened #12 "If use /is reset 1, get this error"
2017-3-4 12:52:26 [EMERGENCY] Exception happened while ticking server
2017-3-4 12:52:26 [ALERT] java.lang.StackOverflowError
	at com.larryTheCoder.command.SubCommand.getPrefix(SubCommand.java:54)
	at com.larryTheCoder.command.SubCommand.getPrefix(SubCommand.java:54)
	at com.larryTheCoder.command.SubCommand.getPrefix(SubCommand.java:54)
	at com.larryTheCoder.command.SubCommand.getPrefix(SubCommand.

[2017-03-07 14:32] larryTheCoder commented on #12
I am having an issue with my computer now my IDE crashes and crashes do you have any idea / any IDE that you know (maybe that can help me improve my Java Skills?)

@NycuRO

[2017-03-07 14:46] NycuRO commented on #12
Move files project on other location. Dezistall IDE and Java and install again, @larryTheCoder

[2017-03-07 16:35] NycuRO commented on #12
@larryTheCoder Ready?

[2017-03-09 09:54] larryTheCoder commented on #12
FIxed now my PC has a problem it cant boot this will be a major problem of my coding situation so this will be postponed until next month

[2017-03-16 10:37] NycuRO commented on #12
@larryTheCoder Update larry?????????????????

[2017-03-16 17:28] iDirtniverse commented on #12
@NycuRo give him sometime, porting it isn't as easy as you seen

[2017-03-16 19:12] NycuRO commented on #12
@iDirtniverse He is inactive.

[2017-03-23 19:53] iDirtniverse commented on #12
@larryTheCoder :( Are you busy?

[2017-03-24 07:08] #12 closed

[2017-03-24 07:10] larryTheCoder commented on #11
Command is not ready yet `| Not Implemented |`

[2017-03-24 07:12] larryTheCoder commented on #9
not relevant

[2017-03-24 07:12] #9 closed

[2017-03-24 09:14] iDirtniverse commented on #8
He didn't even finish the plugins he's making ATM you expecting him to make a new one already? Can you calm down a little lol ( I know you said if, just stating your eagerness )

[2017-03-24 12:44] larryTheCoder commented on #8
@iDirtniverse lol

[2017-03-24 13:57] XShockinFireX commented on #8
@NycuRO Please stop annoying him, he is spending his time making this plugin for us and all you do is ask for more. Keep in mind, he is busy and he can't spend all his time doing what you want him to do.

[2017-03-25 23:25] CoolGuyMC opened #13 "Issue while using /is"
I get the following error while executing the command /is:
[code]
Provider: JDBC

[2017-03-26 01:44] larryTheCoder commented on #13
I will check it

[2017-03-26 01:49] #13 closed

[2017-04-16 10:59] larryTheCoder commented on #11
Okay its done @NycuRO Some value fix and some mistakes with my database

[2017-04-16 11:12] #3 closed

[2017-04-16 11:12] #11 closed

[2017-04-20 18:40] NycuRO opened #14 "Final Update? :D"
Island wont disappear when /is delete executed
Reward for challenges ? 👍

And plugin is ready? @larryTheCoder

Update today?

[2017-04-20 23:22] larryTheCoder commented on #14
I will do 👍

[2017-04-22 11:50] NycuRO commented on #14
Today? @larryTheCoder

[2017-04-26 04:10] larryTheCoder commented on #14
I am busy currently today
I will upload it on Saturday GMT:+8.00

[2017-04-27 12:00] sindronik commented on #14
@larryTheCoder  The / is delete command does not work and /is tgg help
Critical error MCPE 1.0.7, Nukkit build #587

[2017-04-28 09:25] NycuRO commented on #14
@larryTheCoder Now? :D

[2017-05-01 08:55] NycuRO commented on #14
@larryTheCoder You says end..

[2017-06-18 10:41] larryTheCoder commented on #14
@NycuRO don't be upset, I am trying the best to upload the latest file 👍

[2017-06-18 10:42] #14 closed

[2017-06-21 17:56] PikyCZ opened #15 "Database Bug"
Enabling ASkyBlock v0.3.0
19:54:21 [INFO] [ASkyBlock] Seccessfully checked config.yml
19:54:21 [INFO] [ASkyBlock] Loading source ASkyBlock v0.3.0
19:54:21 [INFO] ------------------------------------------------------------
19:54:21 [INFO] [ASkyBlock] Loading offline messages...
19:54:21 [INFO] [ASkyBlock] Loading the Island Framework
19:54:21 [INFO] <SMC> Schematic Post:
19:54:21 [INFO]  - ISLAND

[2017-06-22 13:58] larryTheCoder commented on #15
It seems like the problem starts from sqlite class. Try to change DbLib plugin on my source `lib/DbLib.jar`

[2017-06-23 18:18] PikyCZ commented on #15
ok

[2017-06-26 10:23] PikyCZ commented on #15
Nope this notworking

_Sent from my Asus ASUS_X00AD using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-26 10:24] larryTheCoder commented on #15
I will try to find out what it cause
PS: i dont get this error

[2017-07-07 08:55] victorpk1999 opened #17 "Database error"
11:51:45 [ALERT] java.lang.RuntimeException: java.lang.IllegalAccessError: class
 org.sqlite.SQLiteConfig$TransactionMode cannot access its superinterface org.sq
lite.SQLiteConfig$PragmaValue
        at cn.nukkit.plugin.PluginManager.enablePlugin(PluginManager.java:450)
        at cn.nukkit.Server.enablePlugin(Server.java:620)
        at cn.nukkit.Server.enablePlugins(Server.java:609)
        at c

[2017-07-23 20:22] GiantQuartz opened #18 "Lol"
I should be on the credits of this plugin lmao, anyway, good job!

[2017-07-29 13:51] larryTheCoder commented on #17
@victorpk1999 recheck your Database version or vendor version. This will considered as solved

[2017-07-29 13:51] #17 closed

[2017-08-01 02:16] #15 closed

[2017-08-01 16:00] NycuRO opened #19 "Not work with latest nukkit"
18:59:23 [CRITICAL] Unhandled exception executing command 'skyblock' in is: java.lang.ArrayIndexOutOfBoundsException: 12
        at cn.nukkit.block.BlockVine.onUpdate(BlockVine.java:178)
        at cn.nukkit.level.Level.updateAround(Level.java:1258)
        at cn.nukkit.level.Level.setBlock(Level.java:1689)
        at com.larryTheCoder.schematic.IslandBlock.paste(IslandBlock.java:435)
        at c

[2017-08-02 00:33] larryTheCoder commented on #19
Cannot reproduce... Maybe you do:

1.   Put one Minecart Hopper to rail
2.   Click to them
3.   Get error

But.. It not making sense that minecarts making this bug... The main bug is vine 😕

[2017-08-02 11:03] NycuRO commented on #19
@larryTheCoder Not this..lol...

Use latest version for nukkit and use /skyblock

[2017-08-02 11:03] NycuRO commented on #19
/is delete not work....

[2017-08-02 13:07] larryTheCoder commented on #19
Question: Did you use original schematic or default schematic
If you say:

**YES**:
The problem might be the false metadata from PC Blocks
And yes quite a bit that Minecraft PE not support this operation yet
**NO**:
 Skip my question go on WIP

[2017-08-02 13:15] larryTheCoder opened #20 "New BETA release"
# Todo list
- [x] Remove useless code resulting issues and problems
- [x] Get rip out of the old listeners code
- [ ] Add new entities (Skull, Banner(1.2 Update), Hopper, Minecarts, etc)
- [ ] Change Island ID to UUID
- [x] Rewrite spawning base
- [ ] Implements full database variants (yaml, sql, mysql, etc)
- [ ] Complete control of command usage with granular permissions (ie specific biomes for

[2017-08-02 14:04] NycuRO commented on #19
When i put command: "/is", get this error: @larryTheCoder

**DEBUG LVL 3**

17:00:17 [CRITICAL] Exception while async task 0 invoking onCompletion
java.util.ConcurrentModificationException
        at java.util.HashMap$HashIterator.nextNode(HashMap.java:1437)
        at java.util.HashMap$ValueIterator.next(HashMap.java:1466)
        at cn.nukkit.level.Level.setChunk(Level.java:2376)
        at cn.n

[2017-08-02 14:07] NycuRO commented on #19
**Other bug**

**Chest is invisible**

![image](https://user-images.githubusercontent.com/13573011/28877454-1493f1c4-77a5-11e7-8122-8dee421e976d.png)

**When i broken, don't have items**

![image](https://user-images.githubusercontent.com/13573011/28877479-214d5ff4-77a5-11e7-8758-654100ab2b86.png)

[2017-08-02 14:08] larryTheCoder commented on #19
Okay....

[2017-08-02 14:08] NycuRO commented on #19
@larryTheCoder 👍

Good job bro <3

[2017-08-02 14:10] NycuRO commented on #19
**I'm used default settings, latest version plugin with latest version nukkit and Economy and DbLib from /lib"

Version Nukkit: https://github.com/Nukkit/Nukkit/commit/b190802a4a3f67064ceae824dbddae16d4974fb5

Version ASkyBlock: https://github.com/larryTheCoder/ASkyBlock-Nukkit/commit/fe0713ae8aa06363346b2c0ba00adc9b3fe3ad20

[2017-08-02 14:11] larryTheCoder commented on #19
Wait... Sky is like a NeTher??? Impossible

[2017-08-02 21:47] NycuRO commented on #19
@larryTheCoder Watch photo lmao

[2017-08-03 02:11] larryTheCoder commented on #19
A lot of changes has been made since v1.1.3. I am afraid that new version of nukkit has new API changes and complex API access. BUT it not my excuse to stop contribute this plugin. Only I can do is trying to fix or waiting.

[2017-08-03 10:30] NycuRO commented on #19
@larryTheCoder Ok bro 👍

[2017-08-03 14:18] PetteriM1 opened #21 "bug"
![image](https://user-images.githubusercontent.com/26197131/28926121-8f3ddf50-786f-11e7-987a-5b133c5db457.JPG)

17:14:05 [INFO] Usage: /title <player> <clear|reset> OR /title <player> <title|subtitle|actionbar> <title text> OR /title <player> <times> <fade in time> <stay time> <fade out time>
17:14:05 [INFO] Usage: /title <player> <clear|reset> OR /title <player> <title|subtitle|actionbar> <title

[2017-08-03 14:33] PetteriM1 commented on #21
And chest is invisible.

[2017-08-04 13:08] NycuRO commented on #21
@PetteriM1 Same.

[2017-08-04 13:09] NycuRO commented on #19
@larryTheCoder
Console get this, but i don't know why.

17:14:05 [INFO] Usage: /title <clear|reset> OR /title <title|subtitle|actionbar> <title text> OR /title
17:14:05 [INFO] Usage: /title <clear|reset> OR /title <title|subtitle|actionbar> <title text> OR /title

I don't know how reproduce..

[2017-08-04 13:11] larryTheCoder commented on #19
My wrong xD. I noticed that. Wrong parameters

[2017-08-04 13:12] NycuRO commented on #19
@larryTheCoder You have discord?

[2017-08-04 13:39] larryTheCoder commented on #19
The `/island delete` command is works (Maybe 75%... Need tests)

[2017-08-04 17:19] NycuRO commented on #19
@larryTheCoder Good. I test now.

[2017-08-05 10:16] PetteriM1 opened #22 "crash when /is"
[CRITICAL] Unhandled exception executing command 'is' in is: cn.nukkit.utils.ChunkException: Invalid garbage Chunk given to Block Entity
	at cn.nukkit.blockentity.BlockEntity.<init>(BlockEntity.java:60)
	at cn.nukkit.blockentity.BlockEntitySpawnable.<init>(BlockEntitySpawnable.java:18)
	at cn.nukkit.blockentity.BlockEntityChest.<init>(BlockEntityChest.java:31)
	at com.larryTheCoder.schematic.Islan

[2017-08-05 12:40] larryTheCoder commented on #19
@NycuRO could you star this repository :D Its could help  👍

[2017-08-05 13:14] NycuRO commented on #19
@larryTheCoder It's already.

[2017-08-05 14:44] #22 closed

[2017-08-05 14:44] #21 closed

[2017-08-05 14:54] PetteriM1 opened #23 "Chest"
Good job! But chest is still invisible.

Edit: When i go back to spawn and come back again CHEST IS VISIBLE, BUT EMPTY.

[2017-08-06 14:49] larryTheCoder commented on #23
Comfirmed

[2017-08-07 00:54] larryTheCoder commented on #23
commit aeb63650d6afbcb86d5bba911005f36575ce9f37 might fix the problem

[2017-08-07 08:07] PetteriM1 commented on #23
good job but chest is still invisible

[2017-08-07 08:11] PetteriM1 commented on #23
When creating island:

11:05:08 [CRITICAL] Exception while async task 0 invoking onCompletion
java.util.ConcurrentModificationException
	at java.util.HashMap$HashIterator.nextNode(HashMap.java:1437)
	at java.util.HashMap$ValueIterator.next(HashMap.java:1466)
	at cn.nukkit.level.Level.setChunk(Level.java:2376)
	at cn.nukkit.level.Level.generateChunkCallback(Level.java:2321)
	at cn.nukkit.level.gene

[2017-08-07 08:18] PetteriM1 opened #24 "Cannot reload if players online"
### Issue Description
If you reload server when there is players online, ASkyBlock disabled.

### Steps to Reproduce the Issue
1. Go to your server where is ASkyBlock installed.
2. Reload server.
3. Look to console.

### OS and Versions
* Nukkit Version: 1.1.3
* Java Version: 1.8_131
* ASkyBlock version: Build #62

### Crashdump, Backtrace or Other Files

11:13:43 [INFO] Enabling ASkyBlock v0.3.1

[2017-08-07 12:45] #24 closed

[2017-08-07 12:46] larryTheCoder commented on #24
Comfirmed and fixed

[2017-08-08 01:40] larryTheCoder commented on #23
@PetteriM1 did you delete the island world before attempting `/is` command? I had tested this and it works fine

[2017-08-08 02:48] larryTheCoder commented on #23
Comfirmed. xD

[2017-08-08 03:06] larryTheCoder commented on #23
Okay, I dont know why this happening... Nukkit bug I guess.
Load in SkyBlock world: Okay
Load outside SkyBlock world: Not Okay

[2017-08-08 07:38] PetteriM1 commented on #23
Chest is still empty.

[2017-08-09 02:48] larryTheCoder commented on #23
Okay it works. close

[2017-08-09 02:48] #23 closed

[2017-08-09 02:54] larryTheCoder commented on #18
👍 I guess... Because some of this code copied from your repo xD

[2017-08-09 07:43] PetteriM1 opened #25 "Server freezing"
### Issue Description
When I try to go to my skyblock second time when I type /is server freeze about half minute then it say: Your island could not be found! Error?

### Steps to Reproduce the Issue

1. Create your SkyBlock
2. Back to spawn
3. Type /is

### OS and Versions
* Nukkit Version: 1.1.3
* Java Version: 8_131
* ASkyBlock version: Build #65

* Client Configuration:

| Item | Value |
|:---

[2017-08-09 11:16] larryTheCoder commented on #25
You need to delete database.db and world folder. Its old and need to be renewed

[2017-08-09 11:31] PetteriM1 commented on #25
I deleted all files, but no

[2017-08-09 15:12] larryTheCoder commented on #25
This issue are relating to safe spot position. Not freezing.

[2017-08-10 00:03] NycuRO commented on #19
@larryTheCoder You fixed all bugs? 👍

[2017-08-10 00:05] NycuRO commented on #20
@larryTheCoder Hmm..
I think the news Entityes is added by @yescallop in 1.2, and you can use Nukkit instanceof import . 👍

(P.S. @Creeperface01 work on these blocks)

[2017-08-10 00:08] larryTheCoder commented on #19
@NycuRO Fixed but not tested

[2017-08-10 00:20] NycuRO commented on #19
@larryTheCoder Have you discord?

[2017-08-10 00:59] larryTheCoder commented on #19
@NycuRO no i don't have

[2017-08-10 01:12] NycuRO commented on #19
@larryTheCoder Facebook, anything where can i contact you?

[2017-08-10 01:30] larryTheCoder commented on #19
@NycuRO still new but can be [dont click me](https://www.facebook.com/adam.matthew.1232)

[2017-08-10 09:42] #25 closed

[2017-08-10 09:45] PetteriM1 opened #26 "Chest is invisible and empty"
When i go to my island first time chest is invisible. When I go back to spawn, go to other word and come bac to my island chest is visible but empty.

[2017-08-10 12:32] NycuRO commented on #19
@larryTheCoder Can you give me your discord?

[2017-08-10 12:33] NycuRO commented on #18
@larryTheCoder Seriosly?

[2017-08-10 12:35] larryTheCoder commented on #19
@NycuRO larryTheCoder#0060
- Is this right? I still new :3

[2017-08-10 12:36] NycuRO commented on #19
@larryTheCoder Yes.

[2017-08-10 13:41] larryTheCoder commented on #26
Confirmed @PetteriM1
Picture
![Bugs](https://cdn.discordapp.com/attachments/345183951897362438/345186744095735808/unknown.png)

[2017-08-11 03:43] larryTheCoder commented on #26
@PetteriM1 69cc91f37635de8b1001daaa38abd43e0aad7d95 fixed this problem.

[2017-08-11 15:20] PetteriM1 commented on #26
It works!

[2017-08-11 15:25] PetteriM1 commented on #26
But in chest there is sign at lava place and in front of chest.

[2017-08-11 15:45] PetteriM1 commented on #26
![image](https://user-images.githubusercontent.com/26197131/29220861-1c0ff34a-7ec5-11e7-8dde-80e23f6d9201.JPG)
Always same items

[2017-08-12 04:23] larryTheCoder commented on #26
@PetteriM1 The items are provided by schematic you can get a list of all the goods at [Minecraft Schematic](http://www.minecraft-schematics.com/) website

[2017-08-12 04:26] larryTheCoder commented on #26
@PetteriM1 is the sign should be placed with lava?
Also can you take items in the chest?

[2017-08-12 07:52] PetteriM1 commented on #26
I can't take items from chest.

[2017-08-12 07:56] PetteriM1 commented on #26
And the chest was invisible before I teleported to other world and back.

[2017-08-12 10:12] larryTheCoder commented on #26
@PetteriM1 Chest not visible because the chest is delaying 5 secs to spawn them
Can you reproduce what items that cannot been taken. I cant take all items in the chest

[2017-08-12 12:54] PetteriM1 commented on #26
I can take ice, cactus and melon.

[2017-08-12 12:54] PetteriM1 commented on #26
And why sign in front of chest?

[2017-08-12 17:38] PetteriM1 commented on #26
![image](https://user-images.githubusercontent.com/26197131/29243009-13e4d526-7f9e-11e7-812e-0e178750efce.JPG)
What this mean? Is it possible to change chest items in config?

[2017-08-13 07:54] larryTheCoder commented on #26
Please be informed that your island were generated by using .schematic in skyblock absolute folder. But I added some layer changes that will change every items in chest by using `shouldOverride` in `config.yml`
[code]

[2017-08-13 11:46] PetteriM1 commented on #26
There is no lava in the chest.

[2017-08-13 15:15] PetteriM1 commented on #26
[INFO] [ASkyBlock] player data doesn`t exsits. Creating new ones
[INFO] player joined the game
[CRITICAL] Exception while invoking run
java.lang.IndexOutOfBoundsException: Index: 3, Size: 3
	at java.util.ArrayList.rangeCheck(ArrayList.java:653)
	at java.util.ArrayList.get(ArrayList.java:429)
	at com.larryTheCoder.schematic.IslandBlock$4.run(IslandBlock.java:520)
	at cn.nukkit.scheduler.TaskHandler

[2017-08-13 15:18] PetteriM1 opened #27 "Cannot reload if players online"
### Issue Description
Cannot reload if players online

### Steps to Reproduce the Issue
Reload server when players online

### OS and Versions
* ASkyBlock version: Build #69
* Nukkit Version: 1.1.3

### Crashdump, Backtrace or Other Files
[ALERT] java.lang.RuntimeException: java.lang.NullPointerException
	at cn.nukkit.plugin.PluginManager.enablePlugin(PluginManager.java:450)
	at cn.nukkit.Server.e

[2017-08-18 01:33] #26 closed

[2017-08-18 01:33] #27 closed

[2017-08-18 01:35] #18 closed

[2017-08-18 01:35] #8 closed

[2017-08-18 02:07] #19 closed

[2017-08-21 14:40] PetteriM1 opened #28 "Failed to find your island safe spawn"
After server stop and start I can not go to my island.

| Item | Value |
|:----:|:-----:|
| ASkyBlock Version | Build #70 |
| Nukkit Version | 1.0dev |
| Client Edition | Windows 10 |
| Client Version | 1.1.5 |
| Java Version | 1.8.0_131 |

![image](https://user-images.githubusercontent.com/26197131/29523599-34533128-8696-11e7-9431-4409d46b8c69.JPG)

[2017-08-22 04:21] larryTheCoder commented on #28
Your spawn position might be slightly moved to another location.

[2017-08-22 12:39] #28 closed

[2017-08-22 12:40] larryTheCoder commented on #15
Before i made other changes, You still getting this error?

[2017-08-23 13:56] larryTheCoder commented on #28
@PetteriM1 there several changes I made. The most part are delete island wont work :D i removed the feature to intended a new reset solution. You may need to wait several days then i added this thing :+1:

[2017-08-25 13:27] PetteriM1 opened #29 "Server freezing"
When I use /is nothing happen, server freezes for a moment. I use last build.

[2017-08-29 18:00] Adam1609 commented on #29
The plugin doesn't work at the moment, but you can still help this plugin to complete if u can dev :)

[2017-08-30 04:34] larryTheCoder commented on #29
I agreed with @Adam1609 comment. But @PetteriM1you can still wait several more days. Actually i had fixed this. The problem was the chunks. The chunk might not been loaded after server restart #28

[2017-09-01 13:16] #29 closed

[2017-09-01 13:19] larryTheCoder commented on #29
Did this recent build fix your issue?

[2017-09-01 14:15] PetteriM1 commented on #29
It works! Thank you so much!

[2017-09-02 15:19] PetteriM1 opened #30 "Island Guard"
Server spams this in console, plugin still works:

[CRITICAL] Could not pass event 'cn.nukkit.event.block.BlockIgniteEvent' to 'ASkyBlock v0.3.7-BETA': null on com.larryTheCoder.listener.IslandGuard
[ALERT] cn.nukkit.utils.EventException
	at cn.nukkit.plugin.MethodEventExecutor.execute(MethodEventExecutor.java:34)
	at cn.nukkit.plugin.RegisteredListener.callEvent(RegisteredListener.java:56)
	at cn

[2017-09-02 16:33] larryTheCoder commented on #30
@PetteriM1 I get this error. You can ignore that message and others (As this plugin is still in development).
By the way in case that (you dont know that I know these bugs are):
- This issue
- plugin cannot restart while Player inside (Fixed)
- Delete island wont work
- Challenge, teamchat, asc commands dont work
- Other listeners problem (other than: breaking, interact, place)

But thanks for cre

[2017-09-09 14:38] NycuRO commented on #20
Update @larryTheCoder ?

[2017-09-10 09:24] larryTheCoder commented on #20
Coming soon

[2017-09-19 03:23] #30 closed

[2017-09-28 15:33] sindronik opened #31 "crash when /is"
Nukkit latest/ Minecraft: PE server version v1.1.3/ASkyBlock v0.3.7-BETA
----
[code]

[2017-10-03 17:16] optimusprime338 commented on #31
[code]

[2017-10-04 20:40] NycuRO commented on #20
@larryTheCoder So?

[2017-10-04 20:42] NycuRO commented on #20
lol, thx.

[2017-10-05 13:53] larryTheCoder commented on #20
@NycuRO Not a problem... I still looking for new members to join. I might be offline for a several weeks... I.. Well.. I will be back with surprising updates 😄.
Such as:
- Improved help command
![improvies](https://user-images.githubusercontent.com/15889642/31230650-334e0d12-aa17-11e7-8b5e-8567d55096c1.jpg)
- Panels: Added panels for user to interacting with challenges and islands in **1.2 Version

[2017-10-05 13:55] larryTheCoder commented on #31
This is just a simple fix

[2017-10-05 14:22] NycuRO commented on #20
@larryTheCoder oke oke

[2017-10-05 16:36] optimusprime338 commented on #31
fix it please @larryTheCoder

[2017-10-06 16:40] sindronik commented on #31
and how to fix it? @larryTheCoder

[2017-10-07 10:35] #31 closed

[2017-10-09 20:23] NycuRO commented on #20
Can you try implement Achievments and combine with Modals ? (When creating and others.) @larryTheCoder

[2017-10-10 08:40] optimusprime338 opened #32 "Cant teleport to island!"
### Issue Description
Write a short description about the issue
When you create new island and want to teleport island you just get stuck in spawn world and cant move etc , nothing works its just shows me directions :(.. there are not errors on console. seems like chunk generation problem but idk..

### Steps to Reproduce the Issue

1. ...
2. ...
3. ...

### OS and Versions

* ASkyBlock version:

[2017-10-10 11:08] NycuRO commented on #32
@larryTheCoder I think this can fixed with one generation chunk first, and after teleport.

I think it's problem nukkit. You use player.teleport function?

[2017-10-10 11:38] NycuRO opened #33 "Nukkit-Help Group Discord. [Helping, Performance, Informations]"
Due to the fact that the Nukkit Team does not want to hear or is not interested in a Discourse Official Group for their Software, I decided to create a group, namely to "modify" the old one into a new one, better and especially for Nukkit.

Why do we need this group?

The group is made for all players, developers and the rest of the people interested or not by Nukkit.

I want Nukkit to be again a

[2017-10-12 00:28] larryTheCoder commented on #32
@NycuRO yes. https://github.com/TheSolidCrafter/ASkyBlock-Nukkit/blob/master/src/main/java/com/larryTheCoder/player/TeleportLogic.java#L90
This must be Nukkit bug...

[2017-10-12 00:33] larryTheCoder commented on #20
Of course

[2017-10-12 00:33] larryTheCoder commented on #20
Of course

[2017-10-12 14:00] larryTheCoder commented on #32
New update... Not tested 👎... Awaiting response from other users... Form overlay has been added and i not sure that this is a stable versions... As i said `Awaiting response`. Use `/is create` to open island overlay if bugs appears, use `/is` instead

[2017-10-15 19:40] imjack opened #34 "Is create error"
Hello Larry,

If possible could you give me some method(skype/discord etc) of contact to speak to you privately I am very interested in this project.

### Issue Description
Write a short description about the issue
/is create causes some sort of gson stackoverflow

### Steps to Reproduce the Issue

1. ... run the plugin fresh and do /is create

### OS and Versions

* ASkyBlock version: 0.3.7-BETA

[2017-10-20 10:27] PetteriM1 opened #35 "Server crash at start"
13:25:23 [INFO] Loading ASkyBlock v0.3.7-BETA
13:25:23 [INFO] [ASkyBlock] Seccessfully checked config.yml
[code]

[2017-10-21 11:17] optimusprime338 commented on #32
still same problem

[2017-10-22 04:28] larryTheCoder commented on #35
Check your DbLib usually this is caused by newer build of DbLib
Duplicate with #9

[2017-10-22 04:39] larryTheCoder commented on #34
Full stack trace please.
Discord: MrPotato101#0060

[2017-10-22 18:51] imjack commented on #34
That is the full stack trace.

[2017-10-24 02:18] larryTheCoder commented on #34
confirmed.

[2017-10-28 19:01] NycuRO commented on #35
@larryTheCoder Update coming?

[2017-10-28 19:01] NycuRO commented on #35
I want commit.

[2017-11-01 12:19] #35 closed

[2017-11-01 12:24] NycuRO commented on #33
Hello all.
I decided open one Community with name "Bedrock Comunnity", replacement of Nukkit-Helping Group Discord.
This community it's created for help people with plugins, developing and others!
If you want @Members Role, you need helping with PR's on Plugins Community!
If you want @Moderators Role, you need bring players, need helping players and so so much off-topic.
Who want helping for PMMP

[2017-11-03 05:59] larryTheCoder commented on #34
@imjack this problem is fixed in next commit. Because i want to test if all of it had been fixed

[2017-11-07 22:24] optimusprime338 opened #36 "cant create level!"
### Issue Description
Write a short description about the issue

### Steps to Reproduce the Issue

1. type /is
2. configure in GUI
3. Adfter submit says on screen:-  Cannot attempt to generate level. PC type of schematic!

### OS and Versions

* ASkyBlock version:

* Nukkit Version: ??

* Java Version:
[code]

* Host Configuration:

* Client Configuration:

| Item | Value |
|:----:|:-----:|
| Clie

[2017-11-09 02:19] larryTheCoder commented on #36
Yes PC Type of schematic. You need to use the default skyblock schematic because bugs is confirmed by the PC schematic.

This plugin using PC schematic and will be changed soon

[2017-11-09 03:44] optimusprime338 commented on #36
@larryTheCoder
![image](https://user-images.githubusercontent.com/27479208/32587429-4d3e18ca-c52e-11e7-84f0-743a760b54a7.png)

[2017-11-09 03:52] #32 closed

[2017-11-09 05:53] larryTheCoder commented on #36
Uh how u get there? i thought i just blocked anyone from getting that unfinished island xD

[2017-11-09 11:51] NycuRO commented on #33
@larryTheCoder Can you enter on discord, bro? 👍

[2017-11-09 14:44] optimusprime338 commented on #36
well it created but messed up . and there is no starter chest!

[2017-11-09 14:54] larryTheCoder commented on #36
For your correction. There is a starter chest but underneath

[2017-11-09 15:04] optimusprime338 commented on #36
let me check lol

[2017-11-09 15:08] optimusprime338 commented on #36
there is XD

[2017-11-10 01:13] larryTheCoder commented on #33
@NycuRO I am MrPotato101#0060

[2017-11-16 20:52] imjack commented on #34
I'll have a test now, Also i can't seem to find you on discord.

[2017-11-21 16:28] PetteriM1 commented on #36
Is this fixed soon?

[2017-11-26 14:28] NycuR0 commented on #36
Any update @larryTheCoder ?

[2017-11-28 01:46] larryTheCoder commented on #36
Soon as fast as possible

[2017-12-17 06:12] zahfro commented on #30
where do i go to download the ASkyblock plugin

[2017-12-28 15:47] PetteriM1 opened #37 "Can't take some items from chest"
### Issue Description
I can't take some items from chest.

### Steps to Reproduce the Issue
1. Create new island.
2. Try to take all items from chest.

### OS and Versions

* ASkyBlock version: last

* Nukkit Version: 1.2.x

* Java Version: idk

* Host Configuration:

* Client Configuration:

| Item | Value |
|:----:|:-----:|
| Client Edition |Windows 10 |
| Client Version | 1.2.8 |

### Crashdump

[2018-02-15 19:41] UnexMC opened #38 "ASkyBlock - 1.2.10"
Do you have a Nukkit Version where ASkyblock work with?

[2018-04-04 08:46] larryTheCoder commented on #38
Try this one https://github.com/NukkitX/Nukkit

[2018-04-04 10:53] PetteriM1 commented on #38
@larryTheCoder This plugin don't work with NukkitX

[2018-04-04 12:29] larryTheCoder commented on #38
Hmm its seems like this plugin too old... And there is some fix for it that i working on it. Oh this project still **continued**

[2018-04-06 06:44] PetteriM1 commented on #37
Even when using PE schematic it don't work. If I try to use chest items in config it work but you can get only one item per type and you can't use most items to anything because there is bug with item metadata.

My solution: I created my own version of this plugin for my server and fixed these bugs.

PS. If you need fixed schematics example that two island schematic look from fork in Nukkit Coders

[2018-04-06 10:30] larryTheCoder commented on #38
The bug had been fixed

[2018-04-06 10:30] #38 closed

[2018-04-08 04:27] #36 closed

[2018-04-08 11:49] NycuRO commented on #37
@larryTheCoder I know one.

When paste a schematic, remove all items from chest and put what you want 👍
But be sure chunks is loaded, if you want to work <3

[2018-04-08 11:54] NycuRO commented on #37
Or:

Remove chests from schematics and add them yourself when chunks are loaded. (with code)
I suggest you use player spawned position on schematic for find where yo place chest :>

[2018-04-10 12:03] #37 closed

[2018-04-10 12:05] larryTheCoder commented on #34
The problem fixed in current commit.

[2018-04-10 12:06] #34 closed

[2018-04-21 07:08] PetteriM1 opened #39 "Error if other plugins use form windows"
[CRITICAL] Could not pass event 'cn.nukkit.event.player.PlayerFormRespondedEvent' to 'ASkyBlock': null on com.larryTheCoder.panels.Panel
[ALERT] cn.nukkit.utils.EventException
        at cn.nukkit.plugin.MethodEventExecutor.execute(MethodEventExecutor.java:34)
        at cn.nukkit.plugin.RegisteredListener.callEvent(RegisteredListener.java:56)
        at cn.nukkit.plugin.PluginManager.callEvent(Pl

[2018-04-21 07:45] PetteriM1 commented on #39
I use this as fix:
if (event.getResponse()==null) { return; }

[2018-04-26 10:40] #39 closed

[2018-05-10 19:27] UnexMC opened #42 "Issue"
[code]

[2018-05-10 19:28] UnexMC commented on #42
21:26:58 [CRITICAL] Could not pass event 'cn.nukkit.event.player.PlayerFormRespondedEvent' to 'ASkyBlock v0.3.7-BETA': null on com.larryTheCoder.panels.Panel
21:26:58 [ALERT] cn.nukkit.utils.EventException
        at cn.nukkit.plugin.MethodEventExecutor.execute(MethodEventExecutor.java:34)
        at cn.nukkit.plugin.RegisteredListener.callEvent(RegisteredListener.java:56)
        at cn.nukkit.plu

[2018-05-10 19:40] UnexMC commented on #42
What about adding /is join or /is go

[2018-05-14 19:20] PetteriM1 opened #43 "Upload this to nukkitx.com"
This is very good plugin and this would get more downloads if you uploas it to [https://nukkitx.com/resources/](https://nukkitx.com/resources/)

[2018-05-27 12:03] Cobwebster opened #44 "Claiming issue"
Latest dev build, seems like claiming is broke. the plugin works fine but there is no actual protection anywhere. you're not limited to your IS radius and anyone can build on any island. Big issue.

Not sure if this error is related,
java.lang.UnsupportedOperationException: Chunk is outside population area
	at cn.nukkit.level.generator.PopChunkManager.setChunk(PopChunkManager.java:76)
	at cn.nukki

[2018-06-01 06:43] larryTheCoder commented on #44
Well this is chaos actually. But the bug is not related to this

[2018-06-01 06:43] larryTheCoder commented on #43
I will try, but this is not an issue :/

[2018-06-01 06:43] #43 closed

[2018-06-01 08:10] Cobwebster commented on #44
What is the bug related to so I can report it there?

[2018-06-02 10:09] larryTheCoder commented on #44
Okay, its been fixed now, Tested it and seems like it was the bug from incorrect usage of some functions. But it should be working now

[2018-06-02 10:13] larryTheCoder commented on #42
First how do you get the IslandGuard error? Do you use other world? Need to know what do you do until you get this bug, but the panel is reproducible, its maybe because that other player is using other Forms when this bug happens

[2018-06-02 14:01] UnexMC commented on #42
15:59:22 [CRITICAL] Unhandled exception executing command 'is teleport HappyLea13' in is: java.lang.NullPointerException        at com.larryTheCoder.island.IslandManager.teleportPlayer(IslandManager.java:334)
        at com.larryTheCoder.command.island.TeleportSubCommand.execute(TeleportSubCommand.java:65)
        at com.larryTheCoder.Commands.execute(Commands.java:105)
        at cn.nukkit.comman

[2018-06-02 18:31] UnexMC opened #45 "Teleport to other Island"
15:59:22 [CRITICAL] Unhandled exception executing command 'is teleport HappyLea13' in is: java.lang.NullPointerException        at com.larryTheCoder.island.IslandManager.teleportPlayer(IslandManager.java:334)         at com.larryTheCoder.command.island.TeleportSubCommand.execute(TeleportSubCommand.java:65)         at com.larryTheCoder.Commands.execute(Commands.java:105)         at cn.nukkit.comman

[2018-06-03 02:39] larryTheCoder commented on #33
Already did

[2018-06-03 02:39] #33 closed

[2018-06-03 02:45] larryTheCoder commented on #45
I really need to fix the reporting issue formatting, and yes it not working yet. Check back the repo later, maybe I will include a fix for that

[2018-06-03 10:48] Cobwebster commented on #44
Doesn't look fixed,

11:47:28 [CRITICAL] Could not pass event 'cn.nukkit.event.block.BlockPlaceEvent' to 'ASkyBlock v0.3.9-STABLE': null on com.larryTheCoder.listener.IslandGuard
11:47:28 [ALERT] cn.nukkit.utils.EventException
        at cn.nukkit.plugin.MethodEventExecutor.execute(MethodEventExecutor.java:34)
        at cn.nukkit.plugin.RegisteredListener.callEvent(RegisteredListener.java:56)

[2018-06-03 12:06] #45 closed

[2018-06-05 00:49] Cobwebster commented on #44
Any update on this? Should I test the latest build?

[2018-06-05 06:26] larryTheCoder commented on #44
It probably be fixed now.

[2018-06-07 15:07] Cobwebster commented on #44
@larryTheCoder Doesn't look like it, the error was still there after testing the latest version. I then reset my worlds and everything to do with skyblock + the server, fresh start to test and it juts rejects my connection with this error,

https://pastebin.com/jHikWR6q

^-- that error + the original error on block place outside of claim.

[2018-06-07 15:12] Cobwebster commented on #44
Error upon making a new island - https://pastebin.com/xdiApbR3
Fresh server with latest nukkit, default IS settings with default panel options.

Currently unable to confirm if the protection issue is resolved because of this.

[2018-06-08 14:24] Cobwebster opened #49 "Latest update breaks IS Claiming"
https://pastebin.com/xdiApbR3

this is a follow up of this issue, https://github.com/TheSolidCrafter/ASkyBlock-Nukkit/issues/44

looks like the attempt for fix that broke IS claiming and didn't actually fix protection.

[2018-06-08 14:40] PetteriM1 commented on #49
This is because no all things are updated to work with NukkitX correctly

[2018-06-09 09:20] Cobwebster commented on #49
Sorry, so basically when using the /is command to make a new IS on a fresh setup it denies it and throws that error, by IS claiming I meant using /is to grab yourself a IS.

[2018-06-10 06:50] larryTheCoder commented on #49
Are you using other world instead of SkyBlock world? Because I found some leak on /is gen

[2018-06-10 09:01] larryTheCoder commented on #44
Wait a second @Cobwebster you are using the old build of ASkyBlock. The latest one fixed this issue. This issue here is considered as closed... You are using old ones.

[2018-06-10 09:01] #44 closed

[2018-06-10 09:04] larryTheCoder commented on #49
What seems like... You are using the old builds. Uh huh. Now I getting clear. Try to use new one. See the diffrent

[2018-06-10 16:57] Cobwebster commented on #44
Could you link the download? I'm pretty sure i hit the latest link and went to the artifacts.

[2018-06-10 18:46] Cobwebster commented on #49
I got linked the latest version in the discord, is creation works but the protection issue is still around with the same error, it seems the plugin just doesn't work with nukkit. i'm being told to use different versions of nukkit to support skyblock, i talked in the nukkit chat and they say that askyblock is at fault for the errors since i suggested nukkit chunking loading might have a factor.

[2018-06-11 05:21] #49 closed

[2018-08-17 15:10] Emis02 opened #51 "Help"
Hi have this plugin /is invite to invite player to join in my island? And when I broken cobblestone it drop only cobblestone and nope other matirials or minerals

[2018-08-23 07:52] larryTheCoder commented on #51
Oh that cobble function is not added yet, there is /is invite but the
command doesn't work as expected. If u wait a little bit longer these will
be available

On Fri, 17 Aug 2018, 11:10 pm TheNewEmis, <notifications@github.com> wrote:

[2018-08-23 08:54] Emis02 commented on #51
Ok thank you good plugin man

[2018-08-31 17:32] NycuRO commented on #42
fixed?

[2018-09-01 03:44] larryTheCoder commented on #42
I already fixed this issue. Hmm

[2018-09-01 03:44] #42 closed

[2018-09-01 15:08] PetteriM1 opened #52 "Challenge rewards"
There is bug with challenge rewards: if reward is example ICE:3 you get one ice block wich meta is 3 instead of 3 ice blocks. Currently only way to solve this problem is add block to rewards as many times how many blocks you want to give like ICE:0 ICE:0 ICE:0 ICE:0 ICE:0 ICE:0.

[2018-09-06 11:34] larryTheCoder commented on #51
@Emis02 The cobble generator is now available, meanwhile coop features is not yet implemented. Its will be added soon

[2018-09-29 14:42] #52 closed

[2018-10-03 16:36] vuahackervn opened #53 "Bug file.schematic"
Error file.schematic on 0.4.8 and no error 0.4.7 plsss fix new 0.4.9
Im From Vietnamese and friend of adam1609
We support you

[2018-10-05 12:42] larryTheCoder commented on #53
file.schematic is error? What are you trying to do?

[2018-10-05 13:13] vuahackervn commented on #53
im download file skyblock.schematic on pc run on 0.4.7 no bugs, but 0.4.8 run skyblock.schematic bugs error and im tp world SkyBlock it was created ?.?? I need the reason

[2018-10-06 11:56] larryTheCoder commented on #53
bugs occurs** can you PLEASE reproduce what happens? WHAT error? At least just post something that I could explain what is your issue

[2018-10-06 16:44] vuahackervn commented on #53
For example, I downloaded a pc's .schematic file for ASkyblock. I ran it with version 0.4.7 successfully. But, to version 0.4.8 it does not work. Some of the errors that I found out again / isa setspawn it does not work every version. And last year I thought the error was because you added something new in version 0.4.8. If it is fixed, then I sincerely thank you very much. If you can not fix it,

[2018-10-07 00:55] larryTheCoder commented on #53
Ah, so is there a message saying 'Cannot attempt to generate level. PC Type of schematic'?

[2018-10-07 03:05] vuahackervn commented on #53
Yes, you can fix it. Besides that I do not ask for anything more, and as MCPE you should give something down. Because of MCPE it has limits. What you need to put in, you do not need to delete. thank you

[2018-10-07 07:11] #53 closed

[2018-10-07 07:12] larryTheCoder commented on #53
Its should be fixed in the latest build now

[2018-10-08 13:26] BeanGTA opened #54 "Bug"
Water and lava error

[2018-10-08 14:20] BeanGTA commented on #54
Water takes lava

[2018-10-08 14:33] BeanGTA commented on #54
Ok wait for me

[2018-10-08 14:44] BeanGTA commented on #54
https://youtu.be/gfVsGT23__w

[2018-10-08 14:50] PetteriM1 commented on #54
1. This is not skyblock plugin's bug
2. You made the cobble generator wrong (there is no hole where the water goes)

[2018-10-08 14:55] BeanGTA commented on #54
Im run 0.4.8 no bug block

[2018-10-09 07:51] larryTheCoder opened #55 "Vehicles are not dismounting player correctly"
This is taken from a discussion from a [nukkit thread](https://nukkitx.com/threads/askyblock.109/)
[code]

# Steps to reproduce issue

1. Teleport to player island from an unknown island.
2. This error will occurs.

[2018-10-09 07:56] larryTheCoder commented on #54
The way how generator work is not the same with the original skyblock plugin. You need to have some space to make it work. The generator still under development and will be improved by time.

[2018-10-09 08:09] BeanGTA commented on #54
Ok.

[2018-10-10 08:47] #55 closed

[2018-10-10 08:48] larryTheCoder commented on #54
How about now? You got the problem fixed?

[2018-10-10 08:52] BeanGTA commented on #54
Fixed by the mutilworld plugins, but added more errors

Vào 15:48, Th 4, 10 thg 10, 2018 Adam Matthew <notifications@github.com> đã
viết:

[2018-10-10 08:54] BeanGTA commented on #54
In ASkyBlock it is not compatible with mutilworld

Vào 15:52, Th 4, 10 thg 10, 2018 Tiến Bean <beanvietnammcpe@gmail.com> đã
viết:

[2018-10-10 08:55] larryTheCoder commented on #54
ASkyBlock is not currently compatible with any plugins at this moment. I am sure that the plugin issue and not mine

[2018-10-10 08:55] larryTheCoder commented on #54
And if you could, could you give me trace log of the issue, It could help

[2018-10-10 08:57] BeanGTA commented on #54
I deleted the world named SkyBlock, deleted all Askyblock in the plugins
directory, and I ran it ended up not moving to the SkyBlock world. I think
it is faulty in the Players Directory

Vào 15:55, Th 4, 10 thg 10, 2018 Adam Matthew <notifications@github.com> đã
viết:

[2018-10-10 09:01] BeanGTA commented on #54
I tried version 0.4.8 it was not faulty, it just crashed in schematics, can
not run the PC's file.schematic

Vào 15:57, Th 4, 10 thg 10, 2018 Tiến Bean <beanvietnammcpe@gmail.com> đã
viết:

[2018-10-10 09:02] larryTheCoder commented on #54
I mean the development build. You can download the jar from my CircleCI

[2018-10-10 09:03] BeanGTA commented on #54
Version 0.4.9, it failed, the whole set

Vào 16:02, Th 4, 10 thg 10, 2018 Adam Matthew <notifications@github.com> đã
viết:

[2018-10-10 09:04] BeanGTA commented on #54
.jar good but 0.4.8 error load file.schematic on pc

Vào 16:03, Th 4, 10 thg 10, 2018 Tiến Bean <beanvietnammcpe@gmail.com> đã
viết:

[2018-10-10 09:18] BeanGTA commented on #54
You go server my test plugins ASkyBlock by you
IP: play.mrface.com
Port: 19132

Vào 16:04, Th 4, 10 thg 10, 2018 Tiến Bean <beanvietnammcpe@gmail.com> đã
viết:

[2018-10-10 16:42] BeanGTA commented on #54
https://i.loli.net/2018/10/11/5bbe2b49b760e.png
https://i.loli.net/2018/10/11/5bbe2b49de045.png

To the other people to fault

Now I discovered a lot of bugs all plugins, if I make holes support server nukkit
As I can get all the Server information

[2018-10-18 03:56] larryTheCoder commented on #54
Hmm, I suggest to use the latest development build for this, the code is
unstable... Sometimes its work and sometimes its don't

On Thu, Oct 11, 2018 at 12:42 AM BeanGTA <notifications@github.com> wrote:

[2018-10-19 13:37] #54 closed

[2018-10-20 15:10] larryTheCoder opened #56 "Broken magic generator"
**Magic generator is the core of this plugin, and it has been flagged as the main priority.**

## What exactly this issue?
This issue is about the the position where the magic blocks been created.
For now, our testers find out that the block are not placed correctly as it should based on the minecraft Bukkit classic.

## Step to reproduce issue
Try to create a generator based on this walk-trough:

[2018-10-22 07:16] #56 closed

[2018-10-24 14:49] larryTheCoder opened #57 "Implement levels and Top Islands"

[2018-10-31 23:10] Sinpul opened #58 "How do you use delete confirm?"

[2018-11-01 14:52] Sinpul commented on #58
Also, Is there a way to turn off the cobblestone generator? People get a diamond and can't mine it and I have to fix it

[2018-11-02 08:57] larryTheCoder commented on #58
Sorry for the late response. To delete your island, you just do `/is delete` and you will be automatically given a form for you to fill. If you only have 1 island so it will direct you to the island delete confirmation. You just need to click the button 'Delete my island' and it will automatically deletes your island. idk why you ask this, its so simple.

You can disable them in `config.yml` where

[2018-11-02 13:05] Sinpul commented on #58
Ahh Okay. Thank You So Much! A Late Response Is Better Than No Response. Also While I'm Here, is There Any Way You Could Mix In Ores In the Main Island? Because I just thought about it, without the generator there will only be basic cobble

[2018-11-03 20:30] TheIronMinerLv commented on #51
@larryTheCoder When could this be implemented? I really would love to see this, as it might be boring for many players to play alone. I'm even willing to donate to you if that could speed up this!

[2018-11-04 03:12] larryTheCoder commented on #51
Well, I just implemented levels for top islands, reconfigure the database again, and some of the invite stuff that I been testing currently.

Here is some _spoiler_ ;)
![image](https://user-images.githubusercontent.com/15889642/47959557-4cfda000-e022-11e8-85bf-50622a3fa571.png)